# conda or anaconda -> to be installed?
# mod-wsgi  -> already in apache2 installation
# pygdal    -> needed only when installing GDAL in virtualenv
# pygrib    -> not used in online version. comment the use in the code!
# mapscript -> installed through apt install python3-mapscript, see Dockerfile
# SQLAlchemy==1.1.3
future
urllib3
certifi
configparser
numpy
pyproj
GDAL
geojson
h5netcdf
html2text
Pillow
plotly
matplotlib
nose
psycopg2-binary
requests
ruffus
SQLAlchemy
sqlsoup
scipy
sentinelsat
motuclient 
pycurl 
reloader
web.py
psutil
request
#pymorph
scikit-image
docker-py