$ext-version: '5.1.3.228' !default;  // Updated automatically by the build script.
$ext-trial: false !default; // Updated automatically by the build script.
$ext-beta-trial: false !default; // Updated automatically by the build script.
@import 'compass';
@import 'functions';
@import 'mixins';
