$accordion-header-color : #FFF;
$accordion-header-background-color: #5BBEF7; // #157FCC;
$accordion-header-padding : 5px;
$accordion-background-color : #F5F5F5;  // #0d284e;
$accordion-header-over-background-color: #5BCEF7;
