@media all /* EC TEMPLATE */ {
    /*body {*/
        /*color: #000;*/
        /*background-color: #fff;*/
        /*font-family: Verdana, Arial, Helvetica, "DejaVu Sans", sans-serif;*/
        /*font-size: 62.5%;*/
        /*line-height: 1.5;*/
    /*}*/

    .off-screen {
        position: absolute;
        left: -999px;
        top: -999px;
    }

    /* RESET ANY ORDER LIST: language selector, additionnal tools ... */
    .reset-list,
    .reset-list ul,
    .reset-list li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #header-jrc {
        background: url(../img/title.gif) repeat-x;
        height: 145px;
        line-height: 1.4;
        /*position: absolute;*/
        z-index: 100;
        overflow-x: hidden;
        /*padding-top: 15px;*/
        padding-left: 10px;
    }

    #banner-flag {
        position: absolute;
        left: 40px;
        top: 15px;
        z-index: 8;
        color: #000;
        width: 172px;
        height: 119px;
    }

    #header-jrc #banner-title-text {
        margin: 0;
        border: 0;
        font-size: 24px;
        line-height: 1.2;
        padding-left: 240px;
        position: absolute;
        top: 65px;
        color: #000;
    }

    #header-jrc #banner-title-text span {
        display: block;
        font-size: 18px;
    }

    #banner-image-right {
        position: absolute;
        right: 0;
        top: 38px;
        z-index: 7;
        height: 107px;
        width: 210px;
    }

    #banner-image-title {
        position: absolute;
        left: 0;
        top: 0;
        height: 145px;
        width: 100%;
        z-index: 6;
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    #main-title {
        color: #0065A2;
        /* text-transform: uppercase; */
        /* font-size: 1.4vw !important; */
        font-size: 28px !important;
        /* position: absolute; */
        /* width: 80%; */
        /*min-width: 1850px;*/
        z-index: 10;
        /* left: 32%; */
        /* right: 20%; */
        /* top: 3%; */
        text-decoration: none;
        text-indent: 240px;
        margin-top: 55px;
        font-variant: small-caps;
    }

    #sub-title {
        color: #ffffff;
        /* font-size: 1.4vw !important; */
        font-size: 24px !important;
        /* position: absolute; */
        width: 90%;
        /* min-width: 850px; */
        z-index: 10;
        /* left: 32%; */
        /* right: 20%; */
        /* top: 105px; */
        /* text-decoration: none; */
        /*text-indent: 30%;*/
        font-variant: small-caps;
        text-indent: 240px;
    }

    /* SERVICES */
    #services {
        font-size: 110%;
        font-weight: normal;
        position: absolute;
        left: 0;
        top: 2px;
        right: 0;
        z-index: 18;
        padding: 1px 5px 1px 0;
        text-align: right;
    }

    #services li {
        display: inline;
        padding: 3px 0;
    }

    #services a,
    #services a:visited {
        background: url("../img/services-separator.gif") transparent left center no-repeat;
        color: #396ea2;
        text-decoration: none;
        margin: 0;
        padding: 0 0 3px 5px;
        border: 0;
        font-weight: normal;
        display: inline-block;
    }

    #services a:focus,
    #services a:hover,
    #services a:active {
        color: #396ea2;
        text-decoration: underline;
        border: 0;
    }

    #services a.first {
        border: 0;
        background-image: none;
    }

    .js #services {
        padding-right: 140px;
    }

    /* NAVIGATION PATH (CRUMBTRAILS) */
    #path {
        font-size: 100%;
        background-color: #074A8B;
        min-height: 18px;
        color: #fff;
        padding: 0 0 1px;
        overflow: hidden;
        line-height: 1.6
    }

    #path ul {
        position: relative;
        z-index: 7;
        padding-left: 10px;
    }

    #path li {
        white-space: nowrap;
        display: inline;
        padding: 0 0 0 12px;
        float: left;
        background: url("../img/breadcrumb.gif") transparent left center no-repeat;
    }

    #path li.first {
        background-image: none;
        padding-left: 0;
        padding-right: 0;
    }

    #path a,
    #path a:visited {
        color: #fff;
        text-decoration: none;
        border: 0;
    }

    #path a:hover,
    #path a:focus,
    #path a:active {
        text-decoration: underline;
        color: #fff;
        border: 0;
    }

    #releaseBox {
        /*position: absolute;*/
        top: 0;
        right: 0;
        z-index: 11;
        overflow: visible;
        white-space: nowrap;
    }

    #releaseBoxText {
        font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
        font-size: 85%;
        font-weight: bold;
        height: 14px;
        padding: 3px 10px 0 0;
        margin: 0 5px 0 0;
        width: 200px;
        z-index: 12;
        /*background: transparent url(/img/bg_links-tools.png) no-repeat scroll 75px 0;*/
    }

}



.grid-column-header-multiline .x-column-header-inner .x-column-header-text {
    white-space: normal;
}


.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: auto;
    left: auto;
    right: 0;
    top: 0;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
    border: 0px solid black;
}

.ol-custom-overviewmap {
    border: none;
    width: 175px;
    height: 175px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 1px solid orange;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}


.greenbold .x-form-display-field {
    color: green;
    font-weight:bold;
}

.maplogos {
    height: 60px;
    max-height: 65px;
}

.pin_red {
    color: red;
}

.pin_green {
    color: lime;
}

.newworkspacetab .x-tab-inner-workspace {
    color: darkred !important;
}


.defaultworkspacetab.x-tab-workspace-top {
    background: #9DAFC9 !important;
}
.defaultworkspacetab.x-tab-workspace-top.x-tab-active {
    /* .x-tab-workspace .x-tab .x-tab-top-active .x-tab-default-top-active .x-tab-active */
    background: #577097 !important;
}

.refworkspacetab.x-tab-workspace-top {
    background: #93E134 !important;
}
.refworkspacetab.x-tab-workspace-top.x-tab-active {
    background: #3E7A0C  !important;
}


.table-header-rotated{
    border-spacing:0;
    margin: 0;
    padding: 0;
    background: white;
}
/*.table-header-rotated th.row-header{*/
    /*width: auto;*/
/*}*/

/*.table-header-rotated td{*/
  /*width: 34px;*/
  /*border-top: 1px solid #dddddd;*/
  /*border-left: 1px solid #dddddd;*/
  /*border-right: 1px solid #dddddd;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
/*}*/

.table-header-rotated th.rotate-45{
  height: 32px;
  /*width: 40px;*/
  /*min-width: 34px;*/
  /*max-width: 34px;*/
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  /*line-height: 0.8;*/
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  /*top: 0;*/
  /*left: 9px; !* 40px; !* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*!*/
  height: 100%;
  -ms-transform:skew(-42deg,0deg);
  -moz-transform:skew(-42deg,0deg);
  -webkit-transform:skew(-43deg,0deg);
  -o-transform:skew(-42deg,0deg);
  transform:skew(-42deg,0deg);
  /*overflow: hidden;*/
  text-align: justify;
  /*border-left: 1px solid #000000;*/
  /*border-right: 1px solid #000000;*/
  /*border-top: 1px solid #dddddd;*/
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -28px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /*width: auto;*/
  width: 70px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  /*text-align: right;*/
  /*white-space: nowrap; !* !*whether to display in one line or not*!*!*/
}


.maplogo {
    padding: 3px;
}

.maplogo-wrap {
    float: left;
    margin: 5px;
    margin-right: 0;
    padding: 5px;
}

.maplogo-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.x-view-over {
    border:1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
}

.x-item-selected {
    background: #DFEDFF;
    /*border: 1px solid #6593cf;*/
    padding: 4px;
}

.x-item-selected .thumb {
    background:transparent;
}

.x-item-selected span {
    color:#1A4D8F;
}

.green {
    color: green !important;
}

.orange {
    color: orange !important;
}

.red {
    color: red !important;
}
.lightblue {
    color: lightblue !important;
}
.gray {
    color: gray;
}

.text-white {
    /*font-weight:bold;*/
    color:#FFFFFF;
    font-size:12px;
    height: 20px;
}

.ts_selectedfeature_name_font {
    font-weight: bold;
    font-size: 16px
}

/* Remove grid cell focus border: https://www.sencha.com/blog/top-support-tips-september-2014/ */
.x-grid-item-focused .x-grid-cell-inner:before {
    border: 0;
}

.button-gray {
    background-color: #C1DDF1;
    color:#000000;
}
.highlightYaxe {
    background-color: #C1DDF1 !important;
}


.cursorpointer {
    cursor: pointer !important;
}

.cursordefault {
    cursor: default !important;
}

.hide-actioncolumn{
    background-image:none;
    cursor: default !important;
    display:none !important
}

.x-grid3-body .x-grid3-radio-col-td .x-grid3-cell-inner {
	padding: 1px 0 0 0!important;
}
.x-grid3-radio-col {
	width: 100%;
	height: 16px;
	background: transparent url(../img/icons/radiooff.gif) no-repeat center center;
}
.x-grid3-radio-col-on {
	width: 100%;
	height: 16px;
	background: transparent url(../img/icons/radioon.gif) no-repeat center center;
}

.not-dirty .x-grid3-dirty-cell {background: transparent;}

p {
    margin:5px;
}

.ol-custom-mouse-position {
    top: 0px;
    right: 0px;
}

/*.ol-zoom{top:2em !important; left:.5em !important;}*/
.ol-zoom{top:5em !important; left:unset!important; right:15px !important;}

.scale-line {
    position: absolute;
    width:100% !important;
    /*margin:0;*/
}
.ol-scale-line {
    position: relative;
    background: white !important;
    bottom: 0px !important;
    left: 0px !important;
    padding: 0px !important;
}

.ol-scale-line-inner {
    border: 3px solid #000 !important;
    border-top: none !important;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center;
    margin: 1px;
    will-change: contents,width;
}

.chartfitlayout{width:100% !important; height:100% !important;}


.refresh {
    background-image:url(../img/icons/refresh18.png);
    background-repeat: no-repeat;
}

.expand {
    background-image:url(../img/icons/expand.png);
    background-repeat: no-repeat;
}

.collapse {
    background-image:url(../img/icons/collapse.png);
    background-repeat: no-repeat;
}

.exclamation {
    background-image:url(../img/icons/exclamation.png);
    background-repeat: no-repeat;
}
.play {
    background-image:url(../img/icons/play.png);
    background-repeat: no-repeat;
}

.playred {
    background-image:url(../img/icons/play_red.png);
    background-repeat: no-repeat;
}

.pause {
    background-image:url(../img/icons/pause.png);
    background-repeat: no-repeat;
}

.finished {
    background-image:url(../img/icons/check-circle.png);
    background-repeat: no-repeat;
}

.logarithm_icon {
    background-image:url(../img/logarithm.png);
    background-repeat: no-repeat;
}

.change-region-link {
    background-image:url(../img/change-region-geom-linked2.png);
    background-repeat: no-repeat;
}

.change-region-unlink {
    background-image:url(../img/change-region-geom-unlinked3.png);
    background-repeat: no-repeat;
}

.change-region-icon {
    background-image:url(../img/change-region-geom.png);
    background-repeat: no-repeat;
}

.download_png {
    background-image:url(../img/download_png.png);
    background-size: 24px 24px;
}

.download {
    background-image:url(../img/icons/download.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.data-sync {
    background-image:url(../img/live_sync_24.png);
}

.db-sync {
    background-image:url(../img/DB_sync_24.png);
}


.layer-vector-add {
    background-image:url(../img/layer-vector-add.png);
}

.layers {
    background-image:url(../img/layers_small.png);
    /*background-size: 16px 16px;*/
}

.logos {
    background-image:url(../img/logos.png);
    background-size: 16px 16px;
}

.legends {
    background-image:url(../img/legends.png);
}

.polygon {
    background-image:url(../img/polygon.png);
    background-repeat: no-repeat;
}

.polygon-gray {
    background-image:url(../img/polygon_gray.png);
    background-repeat: no-repeat;
}

.chart-curve_small {
    background-image:url(../img/chart_curve_small.png);
}

.chart-curve_medium {
    background-image:url(../img/chart_curve_medium.png);
    background-repeat: no-repeat;
}

.download-values_excel {
    background-image:url(../img/download-values-excel-icon24.png);
    background-repeat: no-repeat;
}

.chart-curve_edit {
    /*background-image:url(../img/chart_curve_edit24.png);*/
    background-image:url(../img/chart_curve_medium_edit.png);
    background-repeat: no-repeat;
}

.chart-curve_add {
    background-image:url(../img/chart_curve_add.png);
}

.chart-line {
    background-image:url(../img/line_chart.png);
}

.africa {
    background-image:url(../img/africa.png);
}
.africa-orange24 {
    background-image:url(../img/Africa_icon25x24.png);
}

.system-settings {
    background-image:url(../img/system_settings.png);
}

.graph_tpl{
    background-image:url(../img/chart_curve_medium_user1.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.map_tpl{
    background-image:url(../img/map_tpl_user.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.map-search {
    background-image:url(../img/map_magnify.png);
}

.map_add  {
    background-image:url(../img/map_add.png);
    /*background-size: 32px 32px;*/
    background-repeat: no-repeat;
}

.link {
    background-image:url(../img/link.png);
}

.unlink {
    background-image:url(../img/link_break.png);
}

.calendar_linked {
    background-image:url(../img/calendar_linked.png);
}

.calendar_unlinked {
    background-image:url(../img/calendar_unlinked_red.png);
}

.statusok {
    background-image:url(../img/icons/power-off_008000_24.png);
    background-repeat: no-repeat;
}
.statusnotok {
    background-image:url(../img/icons/power-off_ff0000_24.png);
    background-repeat: no-repeat;
}

.statuserror {
    background-image:url(../img/icons/power-off_24_grey.png);
    background-repeat: no-repeat;
}

.connected {
    background-image:url(../img/icons/signal_1df31d_24.png);
    background-repeat: no-repeat;
}
.notconnected {
    background-image:url(../img/icons/signal_ff0000_24.png);
    background-repeat: no-repeat;
}

.running {
    background-image:url(../img/icons/power-off_008000_24.png);
    background-repeat: no-repeat;
}
.notrunning {
    background-image:url(../img/icons/power-off_ff0000_24.png);
    background-repeat: no-repeat;
}

.editproduct {
    background-image:url(../img/icons/edit.png);
    background-repeat: no-repeat;
}

.activated {
    /*background-image:url(../img/icons/check.png);*/
    background-image:url(../img/icons/check-square-o_095c30_24.png);
    background-repeat: no-repeat;
}
.deactivated {
    /*background-image:url(../img/icons/times.png);*/
    background-image:url(../img/icons/square-o_000000_24.png);
    background-repeat: no-repeat;
}
.settings {
    background-image:url(../img/icons/folder_wrench.png);
}
.nav {
    background-image:url(../img/icons/folder_go.png) !important;
    background-repeat: no-repeat;
}
.info {
    background-image:url(../img/icons/info.png);
    background-repeat: no-repeat;
}

.colorwheel {
    background-image: url(../img/color_wheel.png ) !important;
    background-repeat: no-repeat;
}


.eumetsat-icon {
    background: url('../img/icons/eumetsat-icon.png') no-repeat 0 0 !important;
    width: 24px;
    height: 24px;
}

.internet-icon {
    background: url('../img/icons/internet-icon.png') no-repeat 0 0 !important;
    width: 24px;
    height: 24px;
}

.mapset-icon {
    background: url('../img/icons/mapset-icon.png') no-repeat 0 0 !important;
    width: 24px;
    height: 24px;
}

.add {
    background-image: url(../img/icons/add.png ) !important;
    background-repeat: no-repeat;
}
.add16 {
    background-image: url(../img/add16.png ) !important;
    background-repeat: no-repeat;
}
.add20 {
    background-image: url(../img/add20.png ) !important;
    background-repeat: no-repeat;
}
.add22 {
    background-image: url(../img/add22.png ) !important;
    background-repeat: no-repeat;
}
.add24 {
    background-image: url(../img/add24.png ) !important;
    background-repeat: no-repeat;
}
.add32 {
    background-image: url(../img/add32.png ) !important;
    background-repeat: no-repeat;
}

.delete {
    background-image: url(../img/icons/trash24.png ) !important;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.delete16 {
    background-image: url(../img/cancel.png ) !important;
    background-repeat: no-repeat;
}
.delete24 {
    background-image: url(../img/delete24.png ) !important;
    background-repeat: no-repeat;
}
.edit16 {
    background-image: url(../img/edit16.png ) !important;
    background-repeat: no-repeat;
}
.edit16:hover{
    opacity: 0.8;
}

.vieweye {
    background-image: url(../img/eye_32_32.png ) !important;
    background-repeat: no-repeat;
}

.vieweye18 {
    background-image: url(../img/eye18.png ) !important;
    background-repeat: no-repeat;
}

.edit {
    background-image: url(../img/icons/edit.png ) !important;
    background-repeat: no-repeat;
}

.editvectordrawproperties {
    background-image: url(../img/editvectordrawproperties.png ) !important;
    background-size: 16px 16px;
}

.editvectordrawproperties16x16 {
    background-image: url(../img/editvectordrawproperties16x16.png ) !important;
}

.dashboard-panel-body {
    background-image: url(../img/square.gif);
}

.x-tool-okay {
    background-image: url(../img/icons/check-square.png ) !important;
    background-color: #FFF;
}
.x-tool-notokay {
    background-image: url(../img/icons/minus-square.png ) !important;
    background-color: #FFF;
}
.x-tool-unknown {
    background-image: url(../img/icons/minus-square-gray.png ) !important;
    background-color: #FFF;
}

.icon-disk {
	background-image:url(../img/icons/disk.png) ! important;
}

.apply_globals-icon {
    background-image:url(../img/icons/world_go.png) !important;
}

.magnifier-left-icon { background: url('../img/icons/magnifier-left.png') no-repeat 0 0 !important; }

.log-icon {background: url('../img/icons/file-extension-log-icon-24x24.png') no-repeat 0 0 !important; }

.log-icon-small {background: url('../img/icons/file-extension-log-icon-16x16.png') no-repeat 0 0 !important; }

.transparencyicon { background: url('../img/icons/Opacity-20 black.png') no-repeat 0 0 !important; }


.nopadding-btn .x-btn-inner-default-toolbar-medium {
    padding: 0px !important;
}

.nopadding-splitbtn .x-btn-split-right > .x-btn-icon.x-btn-no-text.x-btn-button-default-toolbar-medium {
    padding-right: 0px !important;
}

.nobackgroundcolor {
    background-color: transparent !important;
    background-image: none !important;
}

@font-face {
    font-family: ECSquareSansPro-Regular;
    src: url('../fonts/ECSquareSansPro-Regular.ttf');
}

.highlight { background-color: yellow }

.grid-color-yellow .x-grid-cell{
    background-color: #FFFFB5 !important;
    /*border-bottom-color: #ffc;*/
    /*border-top-color: #ff5;*/
    /*color: #009;*/
}

.grid-color-azur .x-grid-cell{
    background-color: #A9DEEC !important;
}

/*.extra-alt .x-grid-row  {*/
    /*background-color: #fff !important;*/
    /*color: #000 !important;*/
/*}*/

/*.extra-alt . x-grid-item-alt .x-grid-row-alt {*/
    /*background-color: #000 !important;*/
    /*color: #fff !important;*/
/*}*/

/* Grid cells when the mouse cursor is over the row */
/*.grid-color-gray .x-grid-row-over .x-grid-cell {*/
    /*background-color: #ff6;*/
    /*border-bottom-color: #999;*/
    /*border-bottom-style: dashed;*/
    /*border-top-color: #999;*/
    /*border-top-style: dashed;*/
/*}*/

/* Grid cells in the selected row */
/*.grid-color-gray .x-grid-row-selected .x-grid-cell {*/
    /*background-color: #ff0 !important;*/
    /*border-bottom-color: #999;*/
    /*border-bottom-style: solid;*/
    /*border-top-color: #999;*/
    /*border-top-style: solid;*/
/*}*/

.grid-color-blue .x-grid-cell{
    background-color: lightblue !important
}


/*#header{position:relative;z-index:10;min-height:0px;background-color:#fff;line-height:1.4;}*/
/*#header{height:40px;padding:0;margin:0 0 10px 0;overflow:hidden;float:left;clear:both;width:100%;position:relative;}*/
/*#header #banner-title-text{font-family: ECSquareSansPro-Regular;margin:0;border:0;font-size:28px;line-height:1.2;padding-left:240px;position:absolute;top:65px;color:#0065a2;z-index:9;}*/
/*#header #banner-title-text span{font-family: ECSquareSansPro-Regular;display:block;font-size:21px;color:#fff;}*/
/*#header #banner-title-text{position:absolute;left:210px;top:0;font-size:24px;height:auto;margin:0;padding:0px 0 0 0;color:#fff;overflow:hidden;}*/
/*#header #banner-title-text span{font-weight:bold;display:block;font-size:18px;position:relative;top:-10px;}*/


/*#header{position:absolute;left:275px;top:0;z-index:10;min-height:64px;min-width:100%;line-height:1.4;background-color:#0065a2;}*/
#header{position:absolute;left:430px;top:0;z-index:10;min-height:68px;min-width:100%;line-height:1.4;background-color:#0065a2;}
#header #banner-title-text{position:absolute;left:110px;top:10px;font-size:30px;height:auto;margin:0;padding:0;color:#fff;overflow:hidden;}
#header #banner-title-text-small{position:absolute;left:270px;top:18px;font-size:22px;height:auto;margin:0;padding:0;color:#fff;overflow:hidden;}


/*#logo{position:relative;z-index:10;min-height:0;max-width:435px;padding:2px;background-color:#fff;}*/
#logo{position:relative;z-index:10;min-height:0;padding:2px;background-color:#fff;}


.mapview-header .x-window-header-title-default .x-title-text{
    padding: 0px!important;
    border-width: 2px!important;
    line-height: 13px!important;
    white-space: unset!important;
}

.graphview-header .x-window-header-title-default .x-title-text{
    padding: 0px!important;
    border-width: 2px!important;
    line-height: 13px!important;
    white-space: unset!important;
}

.mapview-regionname {
    line-height: 14px;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
    /*width: 185px;*/
    height: 25px;
    float: left;
    /*display: inline-block;*/
    word-wrap: break-word;
    line-height: 13px !important;
    white-space: pre-wrap;
}

.map-templatename {
    font-size:10px;
    color: orange;
    font-weight: bold;
    margin-right: 10px;
    /*display:inline;*/
    width: 200px;
    height: 15px;
    float: right;
    /*display: inline-block;*/
    word-wrap: break-word;
    line-height: 13px !important;
    white-space: pre-wrap;
    text-align: right;
}

.graph-templatename {
    font-size:10px;
    color: greenyellow;
    font-weight: bold;
    margin-right: 10px;
    /*display:inline;*/
    width: 200px;
    height: 15px;
    float: right;
    /*display: inline-block;*/
    word-wrap: break-word;
    line-height: 13px !important;
    white-space: pre-wrap;
    text-align: right;
}

.smalltext {font-size:10px;}
/*.smalltext {display:block;font-size:10px;}*/

.smalltext12 {font-size:12px;}

.grayheader .x-panel-header-title-default {color: slategray !important;}
.transparentheader {background:rgba(222, 239, 252, 1); color:lightslategray !important;}

.btntransparent {background:rgb(222, 239, 252) !important; color:deepskyblue !important; border-color: lightskyblue !important;}
.x-btn-icon-el-default-small.x-btn-glyph  {color:deepskyblue !important;}

.btn-refresh-transparent {background:rgb(222, 239, 252) !important; color:black !important; border-color: gray !important;}

.menu-glyph-color-green .x-menu-item-glyph {
    color: green !important;
}
.menu-glyph-color-red .x-menu-item-glyph {
    color: red !important;
}
.menu-glyph-color-orange .x-menu-item-glyph {
    color: orange !important;
}
.glyph-color-green {
    color: green !important;
}
.glyph-color-red {
    color: red !important;
}
.arrow-left-style {
    left: -3px !important;
}

.fa-8x {
    font-size: 8em;
}

.x-grid-cell-ingestionlogcolumn {
   vertical-align: middle !important;
}

.active-panel-body-style {
    background-color: #dedede;
}

.fontsize20 {
    font-size:20px;
}

.dashboard-header-style {
    background-color: #fff !important;
}

.dashboard-header-title-style {
    color: #0d284e;
    font-size:18px;
}

.panel-textheader-style {
    font-weight:bold;
    color:#000;
    font-size:18px;
}

.panel-text-style {
    font-weight:bold;
    color:#000;
    font-size:14px;
}

.panel-text-style-gray {
    font-weight:bold;
    color:#999;
    font-size:14px;
}

.panel-title-style {
    color: #fff;
    font-size:18px;
}

.panel-title-style-16 {
    color: #fff;
    font-size:16px;
}

.column-header-small-style .x-column-header-inner{
    font-weight:bold;
    color:#0065A2;
    font-size:10px;
    line-height: 12px!important;
    padding: 3px 10px 3px 10px;
}

.grid-header-style {
    font-weight:bold;
    color:#0065A2;
    font-size:16px;
    line-height: 18px;
}

.group-header-style {
    font-weight:bold;
    /*color:#3892D3;*/
    color:#fff;
    font-size:18px;
    /*margin: 1px;*/
    /*padding: 1px;*/
}

.group-header-style .x-grid-group-hd{
    background-color: #A9DEEC !important;
    padding: 2px 2px;
}

.product-group-header-style{
    background-color: #A9DEEC !important;
    font-weight:bold;
    /*color:#3892D3;*/
    color:#000;
    font-size:13px;
    line-height: 2;
}


.boxrounded {
    background: #e9eaee;
    border: 2px solid #ffffff;
    padding: 5px 5px 5px 5px;
    /*width: 700px;*/
    margin: 0 auto;
    /*text-align: center;*/
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}

.rounded-box-win {
    background-color: #fff;
    border: 4px solid lightslategray !important;
    /*border-radius: 6px;*/
    /*box-shadow: 2px 2px 2px #bbb;*/
    /*padding: 10px;*/
}

.rounded-box {
    background-color: #fff;
    border: 1px solid lightslategray !important;
    border-radius: 6px;
    /*box-shadow: 2px 2px 2px #bbb;*/
    padding: 0px;
}

.rounded-box .x-panel-default-outer-border-rbl .x-panel-default-outer-border-trl{
    border-right-color: lightslategray !important;
    border-right-width: 2px !important;
    border-bottom-color: lightslategray !important;
    border-bottom-width: 2px !important;
    border-left-color: lightslategray !important;
    border-left-width: 2px !important;
}

/*.rounded-box-header .x-panel-header-default {*/
    /*border: 1px solid lightslategray !important;*/
    /*background-color: #A9DEEC !important;*/
    /*font-weight:bold;*/
    /*color:#000;*/
    /*font-size:13px;*/
/*}*/

.rounded-box-header .x-tool-img {
    background-color: #A9DEEC !important;
}

.rounded-box-gray-header {
    color: #0e90d2 !important;
    background-color: lightgrey !important;
}


/* .x-panel-header-text-default .x-panel-header-text  "border","1px solid #333"*/

.newpanelstyle {
    border: 1px solid #BABABA !important;
    border-radius: 4px;
}

.newpanelstyle .x-panel-default-outer-border-rbl .x-panel-default-outer-border-trl{
    border-right-color: #BABABA !important;
    border-right-width: 1px !important;
    border-bottom-color:#BABABA !important;
    border-bottom-width: 1px !important;
    border-left-color: #BABABA !important;
    border-left-width: 1px !important;
}

.newpanelstyle .x-panel-header-title-default {
    font-weight:bold !important;
    color:#000 !important;
    font-size:13px !important;
}

.newpanelstyle .x-panel-header-default {
    background-color: #A9DEEC !important;
    font-weight:bold !important;
    color:#000 !important;
    font-size:13px !important;
}

.newpanelstyle .x-tool-img {
    background-color: #A9DEEC !important;
}

.categorytitle {
    font-size:16px;
    color: #FFFFFF; /* #157FCC; */
}


.x-column-header-last {
    border-right-width: 1px;
}

.x-action-col-cell-18 {
  height: 18px !important;
  width: 18px !important;
}

.x-action-col-cell-16 {
  height: 16px !important;
  width: 16px !important;
}

.x-action-col-cell img {
  height: 35px;
  width: 35px;
}

.x-grid-cell-inner {
    overflow: visible !important;
    white-space: nowrap;
}

.myclass .x-grid-cell-inner div {
    padding: 0;
    /*overflow:visible;  *//*visible|hidden|scroll|auto|initial|inherit;*/
}

.x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0;
}

/*.x-hide-display{display:none !important}*/


.custom-slider {
    width: 214px;
    height: 29px;
    padding-top: 13px;
    background-image: url(../img/ticks.gif);
}



/* CSS for the mapsets dataview in the productnavigator */
.mapsets {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    position: relative;
    display: block;
    height: auto;
}

.mapsets div.mapset img {
    margin-bottom: 1px;
}

.mapsets div.mapset {
    float: left;
    /*padding: 5px 5px 5px 5px;*/
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 18px;
    color: #333;
    font-size: 12px;
    font-family: "Helvetica Neue",sans-serif;
    /*height: 155px;*/
    /*width: 140px;*/
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.x-ie6 .mapsets div.mapset,
.x-ie7 .mapsets div.mapset,
.x-ie8 .mapsets div.mapset {
    border-top: none;
    padding: 3px 2px;
    margin: 2px;
}

.mapsets div.mapset-hover {
    background-color: #eee;
}

.mapsets .x-item-selected {
    background-color: #D3E1F1 !important;
}

.mapsets div.mapset strong {
    color: #000;
    display: block;
}

.mapsets div.mapset span {
    color: #999;
}

/**********************************************
* CSS for the HELP TAB
***********************************************/

.help-main {
    background-color: #ececec !important;
}

.help-main .help-dataview {
    padding: 10px 15px 15px;
}

.help-main .statement-type {
    width: 100%;
    float: left;
    color: #878ea2;
    font-weight: bold;
    font-size: 14px;
    margin: 20px 5px 0;
}

.help-main .thumb-title-container {
    float: left;
    padding-top: 4px;
}

.help-main .thumb-title {
    color: #3e4752;
    font-weight: 800;
}

.help-main .thumb-title-small {
    color: #878ea2;
    font-size: 10px;
    font-weight: 500;
}

.help-main .thumb-pdf {
    background-image: url(../img/pdf.png);
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-pdf {
    background-image: url(../img/pdf-small.png);
}

.help-main .thumb-word {
    background-image: url(../img/64px-word.png);
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-word {
    background-image: url(../img/32px-word.png);
}

.help-main .thumb-mesa {
    background-image: url(../img/logo/MESA_h110.jpg);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-mesa {
    background-image: url(../img/logo/MESA_h110.jpg);
}


.help-main .thumb-gmes {
    background-image: url(../img/logo/GMES.png);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-gmes {
    background-image: url(../img/logo/GMES.png);
}


.help-main .thumb-copernicus {
    background-image: url(../img/logo/copernicus-logo.png);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-copernicus {
    background-image: url(../img/logo/copernicus-logo.png);
}

.help-main .thumb-eumetsat {
    background-image: url(../img/logo/EUMETSAT_h110.jpg);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-eumetsat {
    background-image: url(../img/logo/EUMETSAT_h110.jpg);
}

.help-main .thumb-estation2 {
    background-image: url(../img/logo/estation2-logo.png);
    height: 50px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
}

.x-ie8 .help-main .thumb-estation2 {
    background-image: url(../img/logo/estation2-logo.png);
}

.help-main .thumb-download {
    height: 40px;
    width: 40px;
    background-image: url(../img/download-small.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: .5;
    float: right;
}

.help-main .thumb-gotolink {
    height: 40px;
    width: 40px;
    background-image: url(../img/external-link-small.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: .5;
    float: right;
}

.help-main .thumb {
    display: table-cell;
    background-color: white;
    padding: 16px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.help-main .thumb:hover .thumb-download {
    opacity: 1;
}

.help-main .thumb:hover .thumb-gotolink {
    opacity: 1;
}

.help-main .thumb-wrap {
    display: table;
    float: left;
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 980px) and (orientation: landscape), screen and (max-width: 760px) and (orientation: portrait) {
    .help-main .thumb-wrap {
        float: none;
        width: 100%;
        padding: 5px 0;
    }
}


/* ------------------
 styling for the tables
   ------------------   */

.legend-style
{
    height: inherit !important;
    border: 0px solid black;
    padding: 1px 0px 0px 0px;
}

#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	/*margin: 45px;*/
	/*width: 480px;*/
	text-align: left;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background-color: #b9c9fe; /* url('../img/table-images/gradhead.png') repeat-x;  #b9c9fe #A9DEEC */
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style td
{
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background-color: #e8edff; /* url('../img/table-images/gradback.png') repeat-x; */
}
#gradient-style tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
/*#gradient-style tbody tr:hover td*/
/*{*/
	/*background: #d0dafd url('../img/table-images/gradhover.png') repeat-x;*/
	/*color: #339;*/
/*}*/


.x-menu-no-icon {left: auto !important; background-image: none;}
.x-menu-no-icon a.x-menu-item-link {padding-left: 3px;}
.x-menu-no-icon .x-menu-item-icon {display: none;}
.x-menu-no-icon a.x-menu-item-link .x-menu-item-text {margin-left: 5px;}



/*.x-menu-no-icon {background-image: none;  left: 5px !important;}*/
/*.x-menu-no-icon a.x-menu-item-link {padding-left: 3px;}*/
/*.x-menu-no-icon .x-menu-item-icon {display: none;}*/


.over-item-cls {
    background-color: #D3E5F3;
    /*lightblue;*/
}

a.my-custom-button.x-btn-default-small {
    background: none;
    border: none;
}

a.my-custom-button.x-btn-default-small span {
    color: black;
}

a.my-custom-button.x-btn-default-small:hover span {
    color: #ababab;
}

